{% macro render_submit_field(field, label) %}
  <tr>
    <td class="formtd">{{ label }}</td>
    <td>
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td class="spacer">&nbsp;</td>
  </tr>
{% endmacro %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
    <div class="alert alert-danger alert-dismissible darshd" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ error }}</div>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_project_field(label, current_text) %}
  <div class="summaryTitle">
    {{ label.upper() }}
  </div>
  <div class="textBlock">
  <div class="projectSummary" id="{{ label }}">
    {% if current_text: %}
      {{ current_text|safe }}
    {% else: %}
      <i>Add the {{ label }} of your project here</i>
    {% endif %}
  </div>
</div>
  <br /><br />
{% endmacro %}

{% macro render_project_edit_field(label, current_text) %}
  <div class="summaryTitle">
    {{ label.upper() }}
  </div>
  <div class="projectSummary">
    <i>Add your project's {{ label }}:</i>
  </div>
  <div id="procedure">
      <textarea rows=4 cols=50 name="{{ label }}">
      {{ current_text }}
      </textarea>
  </div>
  <br/><br/>
{% endmacro %}

{% macro render_project_info(idea, edit_page=False) %}
  <div class="projectName">
  {{ titleize(idea.name) }}
   <a href="{{ url_for('edit_idea', project_id=idea._id) }}" class="projLink">
   {% if not edit_page: %}
    <img src="{{url_for('static',filename='resources/images/editbtn2.png')}}" height="40" width="40" class="darshdeep">
  {% endif %}
  </a>
  </div>

  <table border="0">
    <tr>
      <td>
        <span class="projectTitle">
        INITIATIVE NAME
        </span>
      </td>
      <td>
        <span class="projectInfo">
        {{ titleize(idea.name) }}
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="projectTitle">
        UNIVERSITY
        </span>
      </td>
      <td>
        <span class="projectInfo">
        {{ titleize(idea.university) }}
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="projectTitle">
        CATEGORY
        </span>
      </td>
      <td>
        <span class="projectInfo">
        {% for category in idea.categories: %}
          <a href="{{ url_for('search', tag=category) }}" class="projLink">{{category}} </a>
          {% if edit_page: %}
            <span class="remove-category-icon" data-cat="{{category}}">x</span>
          {% endif %}
          {% if loop.index != len(idea.categories) %}
          |
          {% endif %}
        {% endfor %}
        {% if edit_page: %}
          <span>
            <form action="{{ url_for('edit_project_tag', project_id=idea._id) }}"
                  method="POST">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
              <input type="text" placeholder="add category" name="new_cat" />
            </form>
          </span>
        {% endif %}
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="projectTitle">
        CONTACT
        </span>
      </td>
      <td>
        <span class="projectInfo">
        {{ titleize(idea.contact.name) }} &lt;<a class="projLink" href="mailto:{{idea.contact.email}}">{{idea.contact.email}}</a>&gt;
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="projectTitle">
          WEBSITES
        </span>
      </td>
      <td>
        <span class="projectInfo">
          {% for website in idea.resources.websites: %}
            <a href="{{'http://' + website}}" class="projLink">{{ website }} </a>
            {% if edit_page: %}
              <span class="remove-website-icon" data-site="{{website}}">x</span>
            {% endif %}
            {% if loop.index != len(idea.resources.websites) %}
          |
          {% endif %}
          {% endfor %}
          {% if edit_page: %}
          <span>
            <form action="{{ url_for('edit_project_website', project_id=idea._id) }}"
                  method="POST">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
              <input type="text" placeholder="add website" name="new_site" />
            </form>
          </span>
        {% endif %}
        </span>
      </td>
    </tr>
  </table>
{% endmacro %}