{% extends "template.html" %}
{% set acitve_page = "about"}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
				<div class="content about">
					<div class="heading">Mission</div>
					<div class="subHeading">Collaboration. Knowledge. Innovation.</div>
					<div class="textBlock">
						We see Universities as incredible petri dishes of environmental innovation. However, the communication mediums between them could be vastly improved. Many college projects and best practices live in isolation or sluggish diffusion.<br /><br />
						Potlux looks to address this by being the first online community where collegiate sustainability initiatives are effectively aggregated and shared.<br /><br />
						We think the potential for this platform is huge: facilitating best practice movements across the college network, inspiring new ideas, building intercollegiate collaboration, and catalyzing project funding.
					</div>
					<br /><br />
					<div class="heading">Our Name</div>
					<div class="subHeading">Potlux: Sharing Light</div>
					<div class="textBlock">
						We love potlucks. Everyone brings what they can to a delicious, community meal. We love the variety, creativity, and sharing culture. Our organization looks to do exactly this, but rather than bringing snacks, everyone contributes their idea, their creativity, their light that collectively grows brighter as more contribute. This concept is embodied in the suffix of our name as "lux" is the SI unit of illuminance.
					</div>
					<br /><br />
					<div class="heading">The Team</div>
					<br />
					<table class="aboutPicsTabe">
						<tr>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/brent.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Brent Packer</div>
											<div class="personTitle">Potlux Founder</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Brent first had the<br /> idea for Potlux when he<br /> was only six years old. Since then he has been honing his <br />e-marketing skills to make <br />that dream a reality. He also can finally grow a full<br /> beard which is nice.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/aaron.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Aaron Rosen</div>
											<div class="personTitle">#1 Sandwicher</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Aaron is all about the sandwich. He had his first sandwich in 7th grade after a sad childhood. Ever since then he has been trying to afford another one, which, thanks <br />to potlux, he has finally <br />been able to do.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/jared.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Jared Geilich</div>
											<div class="personTitle">Cutest Boy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Woah</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/gerard.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Gerard Lui</div>
											<div class="personTitle">Decent Guy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Gerard grew up on a <br />rowboat in the Pacific <br />ocean, where he made <br />money drawing fish for sailors. Luckily, the practice turned him into an incredible artist. Then he designed the <br />potlux website.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="tabespacer">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/keren.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Keren Reichler</div>
											<div class="personTitle">Outreach</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Keren loves sports. <br />She plays 14 different <br />types of athletics at<br /> Wesleyan, including shuffleboard. She is very determined and always <br />gets the job done.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/cassia.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Cassia Patel</div>
											<div class="personTitle">Outreach</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Cassia is an algae <br />enthusiast. She has <br />collected 124 different <br />species of algae from around the world. She got involved with potlux to share pictures<br /> of her algae with the <br />world.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/ellen.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Ellen Paik</div>
											<div class="personTitle">Outreach</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Ellen is the best <br />music box repair-woman <br />in Connecticut. If you have a broken music box, there is no better (or other?) place to take it to get it repaired than to Ellen.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/gabe.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Gabe Frankel</div>
											<div class="personTitle">Blurriest Guy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td>Gabe knew from an <br />early age that he was destined to be a dancer. After a season-ending ACL injury, he channeled his creative energy into building the strategy for potlux></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>

					</table>
				</div>
				<br />
				<br />
				<br />
{%endblock%}
