{% extends "template.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
				<div class="content about">
					<div class="heading">Mission</div>
					<div class="subHeading">Collaboration. Knowledge. Innovation.</div>
					<div class="textBlock">
						We see Universities as incredible petri dishes of environmental innovation. However, the communication mediums between them could be vastly improved. Many college projects and best practices live in isolation or sluggish diffusion.<br /><br />
						Potlux looks to address this by being the first online community where collegiate sustainability initiatives are effectively aggregated and shared.<br /><br />
						We think the potential for this platform is huge: facilitating best practice movements across the college network, inspiring new ideas, building intercollegiate collaboration, and catalyzing project funding.
					</div>
					<br /><br />
					<div class="heading">Our Name</div>
					<div class="subHeading">Potlux: Sharing Light</div>
					<div class="textBlock">
						We love potlucks. Everyone brings what they can to a delicious, community meal. We love the variety, creativity, and sharing culture. Our organization looks to do exactly this, but rather than bringing snacks, everyone contributes their idea, their creativity, their light that collectively grows brighter as more contribute. This concept is embodied in the suffix of our name as "lux" is the SI unit of illuminance.
					</div>
					<br /><br />
					<div class="heading">The Team</div>
					<br />
							<div class="col-md-2">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/brent.png')}}');background-size:100%">
											<div class="personName">Brent Packer</div>
											<div class="personTitle">Potlux Founder</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:100%">
											<br />Some info
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/aaron.png')}}');background-size:100%">
											<div class="personName">Aaron Rosen</div>
											<div class="personTitle">#1 Sandwicher</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:100%">
											<br />Some info
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/jared.png')}}');background-size:100%">
											<div class="personName">Jared Geilich</div>
											<div class="personTitle">Cutest Boy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:100%">
											<br />This guy is hot
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/gerard.png')}}');background-size:100%">
											<div class="personName">Gerard Lui</div>
											<div class="personTitle">Decent Guy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:100%">
											<br />Some info
										</div>
									</div>
								</div>
							</div>
				</div>
{%endblock%}