{% extends "template.html" %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
				<div class="content about">
					<div class="heading">Mission</div>
					<div class="subHeading">To accelerate global environmental progress by unifying the collegiate sustainability movement </div>
					<div class="textBlock">
						We see Universities as incredible petri dishes of environmental innovation. However, the communication mediums between them could be vastly improved. Many college projects and best practices live in isolation or sluggish diffusion.<br /><br />
						Potlux looks to address this by being the first online community where collegiate sustainability initiatives are effectively aggregated and shared.<br /><br />
						We think the potential for this platform is huge: facilitating best practice movements across the college network, inspiring new ideas, building intercollegiate collaboration, and catalyzing project funding.
					</div>
					<br /><br />
					<div class="heading">Purpose</div>
					<div class="subHeading">Collaboration. Knowledge. Innovation.</div>
					<div class="textBlock">
						Universities are at the forefront of environmental innovation; however, the communication mediums between them could be vastly improved. Potlux is a catalogue of ideas and a community of collegiate sustainability leaders. By sharing information and connecting with each other, Universities can adopt the best ideas into their sustainability platform and contact each other for support on how to accomplish this.
					</div>
					<br /><br />
					<div class="heading">Our Name</div>
					<div class="subHeading">Potlux: Sharing Light</div>
					<div class="textBlock">
						We love potlucks. Everyone brings what they can to a delicious, community meal. We love the variety, creativity, and sharing culture. Our organization looks to do exactly this, but rather than bringing snacks, everyone contributes their idea, their creativity, their light that collectively grows brighter as more contribute. This concept is embodied in the suffix of our name as "lux" is the SI unit of illuminance.
					</div>
					<br /><br />
					<div class="heading">The Team</div>
					<br />
					<table class="aboutPicsTabe">
						<tr>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/brent.png')}}');background-size:cover;background-repeat:no-repeat;">

											<div class="personName">Brent Packer</div>
											<div class="personTitle">Potlux Founder</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Brent engages in an eclectic array of sustainability projects from <a href="http://wwells.org/">design</a> to <a href="greenfund.wsa.wesleyan.edu">grant giving</a> to <a href="rgemtrade.com">public-private partnerships</a>. He is also a multi-instrumentalist focusing on <a href="soundcloud.com/swordfishdoula">synth-pop</a>, <a href="soundcloud.com/notablysharp">a cappella</a>, and throat singing.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/aaron.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Aaron Rosen</div>
											<div class="personTitle">Backend Developer</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Aaron is a software engineering guru with a passion for building complex backend systems. He loves to play around with and learn about new technologies.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/jared.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Jared Geilich</div>
											<div class="personTitle">Frontend Developer</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Woah</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>

						</tr>
						<tr>
							<td class="tabespacer">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/keren.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Keren Reichler</div>
											<div class="personTitle">Outreach</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Keren loves sports. <br />She plays 14 different <br />types of athletics at<br /> Wesleyan, including shuffleboard. She is very determined and always <br />gets the job done.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/cassia.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Cassia Patel</div>
											<div class="personTitle">Outreach</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Cassia Patel is currently a Sophomore at Wesleyan majoring in Biology and pursuing a certificate in Environmental Studies as well as an Environmental Engineering degree at Columbia University through the 3-2 program.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/ellen.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Ellen Paik</div>
											<div class="personTitle">Outreach</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Ellen is a junior at Wesleyan University and serves as Chair of the Sustainability, Finance and Facilities committee of the Wesleyan Student Assembly.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>

						</tr>
						<tr>
							<td class="tabespacer">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/gabe.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Gabe Frankel</div>
											<div class="personTitle">Blurriest Guy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Gabe hails from Chicago, and began thinking about strategy in eighth grade when he was finally allowed to ride public transportation alone. Since then he has been strategizing for Potlux, imagining a global online collegiate community.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/gerard.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Gerard Lui</div>
											<div class="personTitle">Decent Guy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Gerard grew up on a <br />rowboat in the Pacific <br />ocean, where he made <br />money drawing fish for sailors. Luckily, the practice turned him into an incredible artist. Then he designed the <br />potlux website.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="tabespacer">
								&nbsp;
							</td>
							<td class="aboutTd">
								<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
									<div class="flipper">
										<div class="front aboutPic" style="background-image:url('{{url_for('static',filename='resources/images/joaquin.png')}}');background-size:cover;background-repeat:no-repeat;">
											<div class="personName">Joaquin Benares</div>
											<div class="personTitle">Trustworthy</div>
										</div>
										<div class="back aboutDesc" style="background-image:url('{{url_for('static',filename='resources/images/back.png')}}');background-size:cover;background-repeat:no-repeat;">
											<table class="vertcent">
												<tr>
													<td class="ppldescrip">Joaquin is THE junior-varsity underwater-hockey co-captain. He likes technology because his Mom never let him own a gameboy growing up.</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<br />
				<br />
				<br />
{%endblock%}
