{% extends "template.html" %}
{% set active_page = "project" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>


{% endblock %}

{% from "_templatehelpers.html" import render_project_edit_field, render_project_info %}

{% block content %}

	<div class="content about">
      {{ render_project_info(idea, current_user._id in idea.owners, edit_page=True) }}
      <br />
      <br />

	 {% if len(idea.resources.images) > 0 %}
      <div class="images">
      {% for image in idea.resources.images: %}
        <div class="image-holder">
          {% if is_selected(image.image_id, idea) %}
            <div class="set-project-image selected" data-image="{{ image.image_id }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="255" height="240" viewBox="0 0 51 48" class="star-icon">
                <title>Five Pointed Star</title>
                <path fill="none" stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
              </svg>
            </div>
          {% else: %}
            <div class="set-project-image" data-image="{{ image.image_id }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="255" height="240" viewBox="0 0 51 48" class="star-icon">
                <title>Five Pointed Star</title>
                <path fill="none" stroke="#000" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
              </svg>
            </div>
          {% endif %}
          <div class="image-delete" data-image="{{ image.image_id }}">x</div>
          <img src="{{ url_for('static', filename=image.full_size) }}" height="150" class="clickbl"/>
        </div>
      {% endfor %}
      </div>


      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}

      <br/>
      <br/>
      <div class="projectSummary" style="font-size:24px;font-weight:200;">
        Add Images of your Project
      </div>
      <div style="font-size:8px;line-height:8px;">
            &nbsp;
            </div>
      <div class="textBlock" style="width:250px;overflow:hidden;">
          <form action="/idea/edit/{{idea._id}}" method="post" enctype=multipart/form-data>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="file" name="imageUpload" />
            <div style="font-size:10px;line-height:10px;">
            &nbsp;
            </div>
            <input type="submit" name="submit" class="subButton" value="Upload">
          </form>
      </div><br /><br />

      <form method="POST" action="/idea/edit/{{ idea_id }}">
      	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    		{{ render_project_edit_field("summary", idea.summary, leading_qs['summary']) }}
    		{{ render_project_edit_field("impact", idea.impact, leading_qs['impact']) }}
    		{{ render_project_edit_field("procedure", idea.procedure, leading_qs['procedure']) }}
    		{{ render_project_edit_field("mistakes & lessons learned", idea.results, leading_qs['mistakes & lessons learned']) }}
    		{{ render_project_edit_field("future plans", idea.future, leading_qs['future plans']) }}
    		<input type="submit" name="submit" class="subButton" value="Save Changes"/ style="width:130px">
      </form>


      <br/><br/><br/>

      <script>
        CKEDITOR.replace( 'summary' );
        CKEDITOR.replace( 'impact' );
        CKEDITOR.replace( 'mistakes & lessons learned' );
        CKEDITOR.replace( 'procedure' );
        CKEDITOR.replace( 'future plans' );
        $(function() {
          $('.set-project-image').click(function() {
            var selected_element = $(this);
            var base_url = "{{ url_for('set_project_image', project_id=idea._id) }}";
            var set_image_url = base_url + "?image_id=" + $(this).attr('data-image');
            console.log(set_image_url);
            $.ajax({
              url: set_image_url,
              method: "PUT",
              success: function() {
                $('.set-project-image').each(function() {
                  $(this).removeClass('selected');
                });
                selected_element.toggleClass('selected');
              }
            });
          });

          $('.remove-category-icon').click(function() {
            var base_url = "{{ url_for('edit_project_tag', project_id=idea._id) }}"
            var delete_url = base_url + "?del_cat=" + $(this).attr('data-cat');
            console.log(delete_url);
            $.ajax({
              url: delete_url,
              method: "DELETE",
              success: function() {
                location.reload();
              }
            });
          });

          $('.remove-website-icon').click(function() {
            var base_url = "{{ url_for('edit_project_website', project_id=idea._id) }}"
            var delete_url = base_url + "?del_site=" + $(this).attr('data-site');
            console.log(delete_url);
            $.ajax({
              url: delete_url,
              method: "DELETE",
              success: function() {
                location.reload();
              }
            });
          });

          $('.remove-contact-icon').click(function() {
            var base_url = "{{ url_for('edit_project_contacts', project_id=idea._id) }}";
            var delete_url = base_url + "?del_email=" + encodeURIComponent($(this).attr('data-contact'));
            console.log(delete_url);
            $.ajax({
              url: delete_url,
              method: "DELETE",
              success: function() {
                location.reload();
              }
            });
          });

          $('.image-delete').click(function() {
            var base_url = "{{ url_for('delete_project_image', project_id=idea._id) }}";
            var delete_url = base_url + "?del_image=" + encodeURIComponent($(this).attr('data-image'));

            console.log(delete_url);
            $.ajax({
              url: delete_url,
              method: "DELETE",
              success: function() {
                location.reload();
              }
            });
          });
        });
      </script>

{% endblock %}