{% extends "template.html" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% from "_templatehelpers.html" import render_project_edit_field, render_project_info %}

{% block content %}

	<div class="content about">
      {{ render_project_info(idea) }}
      <br />
      <br />

	{% if len(idea.resources.images) > 0 %}
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for i in range(len(idea.resources.images)): %}
          {% if i == 0: %}
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          {% else %}
          <li data-target="#carousel-example-generic" data-slide-to="{{i}}"></li>
          {% endif %}
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for image_url in idea.resources.images: %}
          {% if loop.index == 1: %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <img class="caroImage" src="{{ url_for('static', filename=image_url) }}">
          </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% endif %}

      <br/>
      <br/>

      <form method="POST" action="/idea/edit/{{ idea_id }}">
      	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
		{{ render_project_edit_field("summary", idea.summary) }}
		{{ render_project_edit_field("impact", idea.impact) }}
		{{ render_project_edit_field("procedure", idea.procedure) }}
		{{ render_project_edit_field("mistakes & lessons learned", idea.results) }}
		{{ render_project_edit_field("future plans", idea.future) }}
		<input type="submit" name="submit" class="subButton"/>
      </form>


{% endblock %}