{% extends "template.html" %}
{% set acitve_page = "project"}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

{% endblock %}

{% from "_templatehelpers.html" import render_project_edit_field, render_project_info %}

{% block content %}

	<div class="content about">
      {{ render_project_info(idea, True) }}
      <br />
      <br />

	 {% if len(idea.resources.images) > 0 %}
      <div class="images">
      {% for image_url in idea.resources.images: %}
        <img src="{{ url_for('static', filename=image_url.full_size) }}" height="150" class="clickbl"/>
      {% endfor %}
      </div>


      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}

      <br/>
      <br/>
      <div class="projectSummary" style="font-size:24px;font-weight:200;">
        Add Images of your Project
      </div>
      <div style="font-size:8px;line-height:8px;">
            &nbsp;
            </div>
      <div class="textBlock" style="width:250px;overflow:hidden;">
          <form action="/idea/edit/{{idea._id}}" method="post" enctype=multipart/form-data>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="file" name="imageUpload" />
            <div style="font-size:10px;line-height:10px;">
            &nbsp;
            </div>
            <input type="submit" name="submit" class="subButton" value="Upload">
          </form>
      </div><br /><br />

      <form method="POST" action="/idea/edit/{{ idea_id }}">
      	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    		{{ render_project_edit_field("summary", idea.summary) }}
    		{{ render_project_edit_field("impact", idea.impact) }}
    		{{ render_project_edit_field("procedure", idea.procedure) }}
    		{{ render_project_edit_field("mistakes & lessons learned", idea.results) }}
    		{{ render_project_edit_field("future plans", idea.future) }}
    		<input type="submit" name="submit" class="subButton" value="Save Changes"/ style="width:130px">
      </form>


      <br/><br/><br/>

{% endblock %}