{% extends "template.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="sortSearch">

	<form action="{{ url_for('search') }}" method="GET" id="search-form">
	<p class="nowrap">
		<label for="school">UNIVERSITY</label>
		<input class="searchBub" id="searchBar" type="text" name="university" placeholder="Search"/>

		<label for="category">CATEGORY</label>
		<select name="category" id="type" onchange="addArrow()">
			<option disabled selected>Choose one...</option>
			{% for category in potlux_categories: %}
		  		<option value="{{ category[0] }}" id="university">{{ category[1] }}</option>
		  	{% endfor %}
		</select>
		<input type="submit" value="search" />
	</p>
	</form>

</div>
<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6 project">
		<a href="/new">
		<div class="addNew">
			<table class="vertcent">
				<tr><td>+</td></tr>
			</table>
		</div>
		</a>
	</div>
	{%for idea in ideas:%}
	<div class="col-lg-3 col-md-4 col-sm-6 project">
		<a href="/idea/{{idea._id}}">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				{% if idea['resources']['project-image']: %}
				{% set background_url = full_file_name_of_image(idea['_id'],
																idea['resources']['project-image'],
																'full_size') %}
				<div class="front textCenter" style="background-image:url('{{ background_url }}');background-size:cover;background-position: center;">
				{%else:%}
				<div class="front textCenter">
				{%endif%}
					{%if idea.resources.images:%}
					<div class="layer">
					{%else:%}
					<div class="layer">
					{%endif%}
					<table class="layer2" border="0" cellpadding="0" cellspacing="0">
					<tr>
					<td>
						{%if idea.resources.images:%}
						{%if len(idea.name) > 20:%}
						<div class="projName whiteFont snail">{{ titleize(idea.name) }}</div>
						{%else:%}
						<div class="projName whiteFont">{{ titleize(idea.name) }}</div>
						{%endif%}
						<div class="uniName whiteFont">{{ titleize(idea.university) }}</div>
						{%else:%}
						{%if len(idea.name) > 20:%}
						<div class="projName whiteFont snail">{{ titleize(idea.name) }}</div>
						{%else:%}
						<div class="projName whiteFont">{{ titleize(idea.name) }}</div>
						{%endif%}
						<div class="uniName whiteFont">{{ titleize(idea.university) }}</div>
						{%endif%}
					</td>
					</tr>
					</table>
					</div>
				</div>
				<div class="back textCenterB">
					<table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%">
					<tr>
					<td>
					<div class="sumContent">
					<div class="KONVICT">
					{{ idea.summary|safe }}
					</div>
					</div>
					</td>
					</tr>
					</table>
				</div>
			</div>
		</div>
		</a>
	</div>
	{%endfor%}
</div>

<script>
	function addArrow() {
		document.getElementById("recent").innerHTML = "MOST RECENT"
		document.getElementById("category").innerHTML = "CATEGORY"
		document.getElementById("university").innerHTML = "UNIVERSITY"
		var e = document.getElementById("type");
		var strUser = e.options[e.selectedIndex].value;
		document.getElementById(strUser).innerHTML = document.getElementById(strUser).innerHTML + "&nbsp;&nbsp; &#9660;"
	}

	function truncateSummary(element) {
		var maxWordCount = 200;
		if (element.innerText.length > 200) {
			element.innerText = element.innerText.substr(0, maxWordCount) + "...";
		}
	}

	function setAutocomplete() {
		$('#searchBar').autocomplete({
			source: "{{ url_for('schools') }}"
		});
	}

	function addInfiniteScroll() {

	}

	window.onload = function() {
		var cards = document.getElementsByClassName('KONVICT');
		for (var i = 0; i < cards.length; i++) {
			var cardText = cards[i];
			truncateSummary(cardText);
		}

		// $('#search-form').bind('keypress', function(e) {
		// 	if (e.keyCode == 13) {
		// 		return false;
		// 	}
		// });

		setAutocomplete();
	}

</script>

{% endblock %}