{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="sortSearch">
	<form action="{{ url_for('search') }}" method="GET">
		SORT BY:
		<select name="search_type">
		  <option value="recent">MOST RECENT</option>
		  <option value="category">CATEGORY</option>
		  <option value="university">UNIVERSITY</option>
		</select>
		<input class="submitBubble" type="text" name="search" placeholder="Search"/>
	</form>
</div>
<div class="row">
	<div class="col-lg-3 col-sm-6 project">
		<a href="/new">
		<div class="addNew">+
		</div>
		</a>
	</div>
	{%for idea in ideas:%}
	<div class="col-lg-3 col-sm-6 project">
		<a href="/idea/{{idea._id}}">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				{%if idea.resources.images:%}
				<div class="front textCenter" style="background-image:url('{{url_for('static',filename=idea.resources.images[0])}}');background-size:cover;background-position: center;">
				{%else:%}
				<div class="front textCenter">
				{%endif%}
					<div class="layer">
						<div class="projName">{{idea.name}}</div>
						<div class="uniName">{{idea.university}}</div>
					</div>
				</div>
				<div class="back textCenterB">
					<div class="sumContent">
					{{idea.summary}}
					</div>
				</div>
			</div>
		</div>
		</a>
	</div>
	{%endfor%}
</div>

{% endblock %}