{% extends "template.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
	<table class="everything">
		<tr>
			<td class="sidebar">
				<img src="{{url_for('static',filename='resources/images/logo.png')}}" class="logo" width="180"/>
				<br /><br />
				<div class="navlink">
					<a href="/" class="active">HOME</a>
				</div>
				<div class="navlink">
					<a href="/about">ABOUT</a>
				</div>
				<div class="navlink">
					<a href="/new">SUBMIT</a>
				</div>
				<div class="navlink">
					<a href="/contact">CONTACT</a>
				</div>
			</td>
			<td class="mainArea">
				<table class="projTable">
					<tr class="projRow">
						<td class="projHolder">
							<div class="addNew">+
							</div>
						</td>
						<td class="projHolder">
							<div class=" flip-container" ontouchstart="this.classList.toggle('hover');">
								<div class="flipper">
									<div class="front">
										Project
									</div>
									<div class="back">
										this da back.
									</div>
								</div>
							</div>
						</td>
						<td class="projHolder">
							<div class="project">
							Project.
							</div>
						</td>
						<td class="projHolder">
							<div class="project">
							Project.
							</div>
						</td>
					</tr>
					<tr class="projRow">
						<td class="projHolder">
							<div class="project">
							Project.
							</div>
						</td>
						<td class="projHolder">
							<div class="project">
							Project.
							</div>
						</td>
						<td class="projHolder">
							<div class="project">
							Project.
							</div>
						</td>
						<td class="projHolder">
							<div class="project">
							Project.
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}