<html>
<head>
	<title>New Idea</title>
</head>
<body>
	<h1>Submit an Idea</h1>
	<form action="new" method="POST">
		Name: <input type="text" name="name" value="Creator's Name" />
		Contact: <input type="text" name="contact_name" value="Contact Name" />
		<input type="text" name="contact_email" value="Contact Email" />
		Categories: <input type="text" name="categories" value="Categories (separated by commas)" />
		Summary: <input type="text" name="summary" value="Description of project" />

		<input type="submit" value="Create" />
	</form>
</body>
</html>