{% extends "template.html" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}

<form action="" method="post">
	<div>Email: <input type="text" name="email" value="{{ email }}" /></div>
	<div>Password: <input type="password" name="password" /></div>
	<div>Confirm Password: <input type="password" name="confirm" /></div>
	<div><input type="submit" value="Sign up" /></div>
</form>

{% endblock %}