{% extends "template.html" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% from "_templatehelpers.html" import render_project_info %}

{% block content %}

    <div class="content about">
      {{ render_project_info(idea) }}
      <br />
      <br />

      {% if len(idea.resources.images) > 0 %}
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for i in range(len(idea.resources.images)): %}
          {% if i == 0: %}
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          {% else %}
          <li data-target="#carousel-example-generic" data-slide-to="{{i}}"></li>
          {% endif %}
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for image_url in idea.resources.images: %}
          {% if loop.index == 1: %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <img class="caroImage" src="{{ url_for('static', filename=image_url) }}">
          </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% endif %}

      <br />
      {% if current_user._id == idea.owner: %}
        <a href="{{ url_for('edit_idea', project_id=idea._id) }}" class="projLink">Edit Your Idea</a>
      {% endif %}
      <br />

      <div class="summaryTitle">
      SUMMARY
      </div>
      <div class="projectSummary" id="summary">
      {% if idea.summary: %}
        {{idea.summary}} 
      {% else: %}
        <i>Add your project summary here</i>
      {% endif %}
      </div>
      <br /><br />

      <div class="summaryTitle">
      IMPACT
      </div>
      <div class="projectSummary" id="impact">
      {% if idea.impact: %}
        {{idea.impact}} 
      {% else: %}
        <i>Add the impact of your project here</i>
      {% endif %}
      </div>
      <br /><br />

      <div class="summaryTitle">
      PROCEDURE
      </div>
      <div class="projectSummary" id="procedure">
      {% if idea.procedure: %}
        {{idea.procedure}} 
      {% else: %}
        <i>Add the procedure of your project here</i>
      {% endif %}
      </div>

      <div class="summaryTitle">
      MISTAKES &amp; LESSONS
      </div>
      <div class="projectSummary" id="results">
      {% if idea.results: %}
        {{idea.results}}
      {% else: %}
        <i>Add the results of your project here</i>
      {% endif %}
      </div>

      <div class="summaryTitle">
      FUTURE PLANS
      </div>
      <div class="projectSummary" id="future">
      {% if idea.future: %}
        {{idea.future}} 
      {% else: %}
        <i>Add your future plans here</i>
      {% endif %}
      </div>
      <br /><br />

      {% if current_user._id == idea.owner: %}
      <div class="projectSummary" style="font-size:24px;font-weight:200;">
        Add Images of your Project
      </div>
      <div style="font-size:8px;line-height:8px;">
            &nbsp;
            </div>
      <div class="textBlock" style="width:250px">
          <form action="/idea/{{idea._id}}" method="post" enctype=multipart/form-data>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="file" name="imageUpload" />
            <div style="font-size:10px;line-height:10px;">
            &nbsp;
            </div>
            <input type="submit" name="submit" class="subButton"/>
          </form>
      </div>
    </div>
    {% endif %}
    <br />
    <br />
    <br />


    <script>
      function editSummary(fieldName){
        var curSum = document.getElementById(fieldName).innerHTML;
        document.getElementById(fieldName).innerHTML = "<textarea id=\"tarea" + fieldName + "\" rows=\"4\"cols=\"50\">" + curSum + "</textarea>";
        var buttonName = "edit" + fieldName;
        document.getElementById(buttonName).innerHTML = "<a onClick=\"changeSummary(\'" + fieldName + "\')\" class=\"projLink\" href=\"#" + fieldName + "\">done</a>";
      }

      function changeSummary(fieldName){
        var tareaName = "tarea" + fieldName;
        var newSum = document.getElementById(tareaName).value;
        post('/idea/{{idea._id}}', newSum, fieldName);
      }

      function post(path, newSum, fieldName) {

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", path);

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", fieldName);
        hiddenField.setAttribute("value", newSum);

        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }

    var true_width = ( function(){
      var $tempobj = $('#projImages') // starting with truncated text div projImages
          .clone().contents() // duplicate the text
          .wrap('<div id="content"/>') // wrap it in a projImages
          .parent().appendTo('body') // add this to the dom
          .css('left','-1000px'); // but put it far off-screen
      var result = $tempobj.width(); // measure it
      $tempobj.remove(); // clean up
      return result;
    })();

    $('#projImages').one('mouseenter', function(){ // perhaps trigger once only
      var shift_distance = true_width - $(this).width(); // how far to move
      var time_normalized = parseInt(shift_distance / 100, 10) * 1000; // speed
      $(this).contents().wrap('<div id="content">').parent() // wrap in div
        .animate({
            left: -shift_distance,
            right: 0
        }, time_normalized, 'linear'); // and move the div within its "viewport"
    });
    </script>
{% endblock %}