{% extends "template.html" %}
{% set active_page = "project" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% from "_templatehelpers.html" import render_project_info, render_project_field %}

{% block content %}

    <div class="content about">
      {{ render_project_info(idea, current_user._id in idea.owners) }}
      <br />
      <br />

      {% if len(idea.resources.images) > 0 %}
      <div class="images">
      {% for image_url in idea.resources.images: %}
        <img src="{{ url_for('static', filename=image_url.full_size) }}" height="150" class="clickbl"/>
      {% endfor %}
      </div>


      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}

      <br />

      <br />

      {% if current_user._id in idea.owners or idea.summary: %}
        {{ render_project_field("summary", idea.summary) }}
      {% endif %}

      {% if current_user._id in idea.owners or idea.impact: %}
        {{ render_project_field("impact", idea.impact) }}
      {% endif %}

      {% if current_user._id in idea.owners or idea.procedure: %}
        {{ render_project_field("procedure", idea.procedure) }}
      {% endif %}

      {% if current_user._id in idea.owners or idea.results: %}
        {{ render_project_field("mistakes & lessons learned", idea.results) }}
      {% endif %}

      {% if current_user._id in idea.owners or idea.future: %}
        {{ render_project_field("future plans", idea.future) }}
      {% endif %}

    <br />
    <br />
    <br />

    <script>
    $(document).ready(function(){
           $('img').on('click',function(){
                var src = $(this).attr('src');
                var img = '<img src="' + src + '" class="img-responsive"/>';
                $('#myModal').modal();
                $('#myModal').on('shown.bs.modal', function(){
                    $('#myModal .modal-body').html(img);
                });
                $('#myModal').on('hidden.bs.modal', function(){
                    $('#myModal .modal-body').html('');
                });
           });
        })
    </script>
    <script>

      function editSummary(fieldName){
        var curSum = document.getElementById(fieldName).innerHTML;
        document.getElementById(fieldName).innerHTML = "<textarea id=\"tarea" + fieldName + "\" rows=\"4\"cols=\"50\">" + curSum + "</textarea>";
        var buttonName = "edit" + fieldName;
        document.getElementById(buttonName).innerHTML = "<a onClick=\"changeSummary(\'" + fieldName + "\')\" class=\"projLink\" href=\"#" + fieldName + "\">done</a>";
      }

      function changeSummary(fieldName){
        var tareaName = "tarea" + fieldName;
        var newSum = document.getElementById(tareaName).value;
        post('/idea/{{idea._id}}', newSum, fieldName);
      }

      function post(path, newSum, fieldName) {

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", path);

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", fieldName);
        hiddenField.setAttribute("value", newSum);

        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }

    var true_width = ( function(){
      var $tempobj = $('#projImages') // starting with truncated text div projImages
          .clone().contents() // duplicate the text
          .wrap('<div id="content"/>') // wrap it in a projImages
          .parent().appendTo('body') // add this to the dom
          .css('left','-1000px'); // but put it far off-screen
      var result = $tempobj.width(); // measure it
      $tempobj.remove(); // clean up
      return result;
    })();

    $('#projImages').one('mouseenter', function(){ // perhaps trigger once only
      var shift_distance = true_width - $(this).width(); // how far to move
      var time_normalized = parseInt(shift_distance / 100, 10) * 1000; // speed
      $(this).contents().wrap('<div id="content">').parent() // wrap in div
        .animate({
            left: -shift_distance,
            right: 0
        }, time_normalized, 'linear'); // and move the div within its "viewport"
    });
    </script>
{% endblock %}