{% extends "template.html" %}
{% block title %}Project{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}

    <div class="content about">
      <div class="projectName">
      {{idea.name}}
      </div>
      <table border="0">
        <tr>
          <td>
            <span class="projectTitle">
            INITIATIVE NAME
            </span>
          </td>
          <td>
            <span class="projectInfo">
            {{idea.name}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="projectTitle">
            UNIVERSITY
            </span>
          </td>
          <td>
            <span class="projectInfo">
            {{titleize(idea.university)}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="projectTitle">
            CATEGORY
            </span>
          </td>
          <td>
            <span class="projectInfo">
            {% for category in idea.categories: %}
              <a href="{{ url_for('search', tag=category) }}" class="projLink">{{category}}</a>,
            {% endfor %}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="projectTitle">
            CONTACT
            </span>
          </td>
          <td>
            <span class="projectInfo">
            {{idea.contact.name}} &lt;<a class="projLink" href="mailto:{{idea.contact.email}}">{{idea.contact.email}}</a>&gt;
            </span>
          </td>
        </tr>
      </table>
      <br />
      <br />

      {% if len(idea.resources.images) > 0 %}
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for i in range(len(idea.resources.images)): %}
          {% if i == 0: %}
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          {% else %}
          <li data-target="#carousel-example-generic" data-slide-to="{{i}}"></li>
          {% endif %}
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for image_url in idea.resources.images: %}
          {% if loop.index == 1: %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <img class="caroImage" src="{{ url_for('static', filename=image_url) }}">
          </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% endif %}

      <br />
      <br />
      <div class="summaryTitle">
      SUMMARY
      </div>

      <div class="projectSummary" id="summary">
      {{idea.summary}} 
      </div>
      {% if current_user._id == idea.owner: %}
      <span id="editsummary"><a onClick="editSummary('summary')" href="#" class="projLink">edit</a></span>
      {% endif %}
      <br /><br />

      {% if idea.impact == None and current_user._id == idea.owner: %}
      <div class="summaryTitle">
      IMPACT
      </div>
      <div class="projectSummary">
      <i>Add your project's impact:</i>
      </div>
      <div id="impact">
      </div>
      <span id="editimpact"><a onClick="editSummary('impact')" href="#" class="projLink">Click to add</a></span>
      <br /><br />
      {% elif idea.impact != None: %}
      <div class="summaryTitle">
      IMPACT
      </div>
      <div class="projectSummary" id="impact">
      {{idea.impact}} 
      </div>
      {% if current_user._id == idea.owner: %}
      <span id="editimpact"><a onClick="editSummary('impact')" href="#" class="projLink">edit</a></span>
      {% endif %}
      <br /><br />
      {% else %}
      {% endif %}

      {% if idea.procedure == [] and current_user._id == idea.owner: %}
      <div class="summaryTitle">
      PROCEDURE
      </div>
      <div class="projectSummary">
      <i>Add your project's procedure:</i> 
      </div>
      <div id="procedure"></div>
      <span id="editprocedure"><a onClick="editSummary('procedure')" href="#" class="projLink">Click to add</a></span>
      <br /><br />
      {% elif idea.procedure != []: %}
      <div class="summaryTitle">
      PROCEDURE
      </div>
      <div class="projectSummary" id="procedure">
      {{idea.procedure}} 
      </div>
      {% if current_user._id == idea.owner: %}
      <span id="editprocedure"><a onClick="editSummary('procedure')" href="#" class="projLink">edit</a></span>
      {% endif %}
      <br /><br />
      {% else %}
      {% endif %}

      {% if idea.results.positive == [] and current_user._id == idea.owner: %}
      <div class="summaryTitle">
      MISTAKES &amp; LESSONS
      </div>
      <div class="projectSummary">
        <i>Add results to your project:</i>
        <div id="results"></div>
      </div>
      <span id="editresults"><a onClick="editSummary('results')" href="#" class="projLink">Click to add</a></span>
      <br /><br />
      {% elif idea.results.positive != []: %}
      <div class="summaryTitle">
      MISTAKES &amp; LESSONS
      </div>
      <div class="projectSummary" id="results">
      {{idea.results.positive}}
      </div>
      {% if current_user._id == idea.owner: %}
      <span id="editresults"><a onClick="editSummary('results')" href="#" class="projLink">edit</a></span>
      {% endif %}
      <br /><br />
      {% else %}
      {% endif %}
      
      {% if idea.future == [] and current_user._id == idea.owner: %}
      <div class="summaryTitle">
      FUTURE PLANS
      </div>
      <div class="projectSummary">
        <i>Add future plans to your project:</i>
      </div>
      <div id="future"></div>
      <span id="editfuture"><a onClick="editSummary('future')" href="#" class="projLink">Click to add</a></span>
      <br /><br />
      {% elif idea.future != []: %}
      <div class="summaryTitle">
      FUTURE PLANS
      </div>
      <div class="projectSummary" id="future">
      {{idea.future}} 
      </div>
      {% if current_user._id == idea.owner: %}
      <span id="editfuture"><a onClick="editSummary('future')" href="#" class="projLink">edit</a></span>
      {% endif %}
      <br /><br />
      {% else %}
      {% endif %}

      <div>
          <form action="/idea/{{idea._id}}" method="post" enctype=multipart/form-data>
            <input type="file" name="imageUpload" />
            <input type="submit" name="submit" />
          </form>
      </div>
    </div>
    <br />
    <br />
    <br />


    <script>
      function editSummary(fieldName){
        var curSum = document.getElementById(fieldName).innerHTML;
        document.getElementById(fieldName).innerHTML = "<textarea id=\"tarea" + fieldName + "\" rows=\"4\"cols=\"50\">" + curSum + "</textarea>";
        var buttonName = "edit" + fieldName;
        document.getElementById(buttonName).innerHTML = "<a onClick=\"changeSummary(\'" + fieldName + "\')\" class=\"projLink\" href=\"#\">done</a>";
      }

      function changeSummary(fieldName){
        var tareaName = "tarea" + fieldName;
        var newSum = document.getElementById(tareaName).value;
        post('/idea/{{idea._id}}', newSum, fieldName);
      }

      function post(path, newSum, fieldName) {

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", path);

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", fieldName);
        hiddenField.setAttribute("value", newSum);

        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }

    var true_width = ( function(){
      var $tempobj = $('#projImages') // starting with truncated text div projImages
          .clone().contents() // duplicate the text
          .wrap('<div id="content"/>') // wrap it in a projImages
          .parent().appendTo('body') // add this to the dom
          .css('left','-1000px'); // but put it far off-screen
      var result = $tempobj.width(); // measure it
      $tempobj.remove(); // clean up
      return result;
    })();

    $('#projImages').one('mouseenter', function(){ // perhaps trigger once only
      var shift_distance = true_width - $(this).width(); // how far to move
      var time_normalized = parseInt(shift_distance / 100, 10) * 1000; // speed
      $(this).contents().wrap('<div id="content">').parent() // wrap in div
        .animate({
            left: -shift_distance,
            right: 0
        }, time_normalized, 'linear'); // and move the div within its "viewport"
    });
    </script>
{% endblock %}