{% extends "template.html" %}
{% set active_page = "register" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
	{% from "_templatehelpers.html" import render_field %}
	<div class="register">
	<form method="post" action="/register">
	  	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	  	<table>
	  	{{ render_field(form.first_name, 'FIRST NAME', class='submitBubble') }}
	  	{{ render_field(form.last_name, 'LAST NAME', class='submitBubble') }}
	    {{ render_field(form.email, 'EMAIL', class='submitBubble') }}
	    {{ render_field(form.password, 'PASSWORD', class='submitBubble') }}
	    {{ render_field(form.confirm, 'CONFIRM', class='submitBubble') }}
		</table>
		<br />
	  <p><input type="submit" value="Register" class="subButton">
	</form>
	</div>
{% endblock %}
