{% extends "template.html" %}
{% set active_page = "register" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
	{% from "_templatehelpers.html" import render_field %}

	<form method="post" action="/register">
	  <dl>
	  	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	  	{{ render_field(form.first_name) }}
	  	{{ render_field(form.last_name) }}
	    {{ render_field(form.email) }}
	    {{ render_field(form.password) }}
	    {{ render_field(form.confirm) }}
	  </dl>
	  <p><input type=submit value=Register class=subButton>
	</form>
{% endblock %}
