{% from '_templatehelpers.html' import render_field %}

{% extends 'template.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
	<div class="register">
	    <form method="post" action="/reset">
	          <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
	          <table>
	          {{ render_field(form.email, 'EMAIL', class='submitBubble') }}
		      </table>
		      <br />
	        <input type="submit" value="Send Link" class="subButton">
	    </form>
  </div>
{% endblock %}