{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <div class="submitContent">

      <span class="projSub">Project Submission</span>

      <form action="new" method="post">
      <table>

        <tr>
          <td>Name:</td>
           <td>
            <input class="submitBubble" type="text" name="name" />
          </td>
        </tr>
        <tr>
          <td>Category:</td>
           <td>
            <input class="submitBubble" type="text" name="categories" />
          </td>
        </tr>
        <tr>
          <td>Contact:</td>
           <td>
            <input class="contactBubble" type="text" name="contact_name" />
            <input class="contactBubble" type="text" name="contact_email" />
          </td>
        </tr>
        <tr>
          <td>Summary:</td>
           <td>
            <input class="submitBubble" type="text" name="summary" />
          </td>
        </tr>

      </table>
        <input type="submit" value="Submit" />
      </form>

    </div>
{% endblock %}