{% extends "template.html" %}
{% block title %}Submit{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
				<div class="content submit">
					<div class="heading">Submission</div>
					<br />

			    <form action="new" method="post" class="formy">
			    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
			    	<table class="submitTable">

			    		<tr>
			    			<td class="formtd">PROJECT NAME</td>
			    			<td>
			    				<input class="submitBubble" type="text" name="name"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td class="spacer">&nbsp;</td>
			    		</tr>
			    		<tr>
			    			<td class="formtd">CATEGORY</td>
			    			<td>
			    				<input class="submitBubble" type="text" name="categories"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td class="spacer">&nbsp;</td>
			    		</tr>
			    		<tr>
			    			<td class="formtd">UNIVERSITY</td>
			    			<td>
			    				<input id="university-input" class="submitBubble" type="text" name="university"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td class="spacer">&nbsp;</td>
			    		</tr>
			    		<tr>
			    			<td class="formtd">YOUR NAME</td>
			    			<td>
			    				<input class="contactBubble" type="text" name="first_name" placeholder="First" />
			    				<input class="contactBubble" type="text" name="last_name" placeholder="Last" />
			    			</td>
			    		</tr>
			    		<tr>
			    			<td class="spacer">&nbsp;</td>
			    		</tr>
			    		<tr>
			    			<td class="formtd">WEBSITE</td>
			    			<td>
			    				<input class="submitBubble" type="text" name="website"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td class="spacer">&nbsp;</td>
			    		</tr>`
			    		<tr>
			    			<td class="formtd">SUMMARY</td>
			    			<td>
			    				<textarea class="summBubble" rows="5" name="summary" placeholder="Short summary of project (200 characters)"></textarea>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td class="spacer">&nbsp;</td>
			    		</tr>
			    		<tr>
			    			<td></td>
			    			<td class="buttonHolder">
			    				<input type="submit" value="SUBMIT" class="subButton"/>
			    			</td>
			    		</tr>

			    	</table>
			    </form>
				</div>

				<script>

				</script>
{%endblock%}