<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Potlux</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100' rel='stylesheet' type='text/css'>
    <link href="{{url_for('static',filename='resources/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='resources/css/custom.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='resources/js/bootstrap.min.js')}}"></script>
  </head>
  <body>
    <div class="header">
      <span class="logo">
        POTLUX
      </span>

      <span class="links">
        <span class="navlink">
          <a href="#">HOME</a>
        </span>
        <span class="navlink">
          <a href="#">ABOUT</a>
        </span>
        <span class="navlink">
          <a href="#">PROJECTS</a>
        </span>
        <span class="navlink">
          <a href="#">SUBMISSION</a>
        </span>
      </span>
    </div>

    <div class="submitContent">

      Project Submission

      <form action="new" method="post">
        Name: <input type="text" name="name" /><br />
        Category: <input type="text" name="categories" /><br />
        Contact: <input type="text" name="contact_name" /><input type="text" name="contact_email" /><br />
        Summary: <input type="text" name="summary" /><br />
        <input type="submit" value="Submit" />
      </form>

    </div>

  </body>
</html>