<!doctype html>
<html>
  <head>
    {% block head %}
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100' rel='stylesheet' type='text/css'>
    <link href="{{url_for('static',filename='resources/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='resources/js/bootstrap.min.js')}}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Potlux - {% block title %}{% endblock %}</title>
    {% endblock %}

    <!-- Facebook analytics -->
    <meta property="og:title" content="Potlux" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Potlux" />
    <meta property="og:description" content="The collegiate environmental initiatives network.

    Advancing the diffusion of innovation, collective knowledge, and collaboration. Sign up here for updates and to learn how you can get involved in the movement." />
    <meta property="og:url" content="www.potlux.com/comingsoon" />
    <meta property="og:image" content="" />
    <link href="{{url_for('static',filename='resources/css/custom.css')}}" rel="stylesheet">
  </head>
  <body>
    <table id="content">
        <tr>
            <td class="sidebar">
                <div class="logInOut">
                    {% if current_user.is_authenticated(): %}
                        <!--<div class="navlink">
                            <a href="#">ACCOUNT</a>
                        </div>-->
                        <div class="navlink">
                            <a href="/logout">logout</a>
                        </div>
                    {% else: %}
                        <div class="navlink">
                            <a href="/login">login</a>
                        </div>
                    {% endif %}
                </div>
                <div class="sideContent">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                    <a href="/"><img src="{{url_for('static',filename='resources/images/logo.png')}}" class="logo" width="180"/></a>
                    <br />
                    <br />
                    <div class="navlink">
                        <a href="/">HOME</a>
                    </div>
                    
                    <div class="navlink">
                        <a href="/about">ABOUT</a>
                    </div>
                    <div class="navlink">
                        <a href="/new">SUBMIT</a>
                    </div>
                    <div class="navlink">
                        <a href="/contact">CONTACT</a>
                    </div>
                </div>
            </td>
            <td class="allMyBuns">{% block content %}{% endblock %}</td>
        </tr>
    </table>
  </body>
</html>