body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background: #efefef;
}

select {
   background: #CECECE;
   border:none;
   padding: 5px;
   margin: 0 15px 0 10px;
}

select ul li {
	background: #4e2e27;
}

a, a:link{
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.spacer {
	font-size: 5px;
	line-height: 5px;
}

.formtd {
	padding-right: 8px;
	font-weight: 200;
	font-size:12px;
}

.submitBubble {
	width: 300px;
	background: #CECECE;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

.submitBubble:focus, .contactBubble:focus, .summBubble:focus {
	background: #fff;
}

.contactBubble {
	width: 148px;
	background: #CECECE;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

.sortSearch {
	padding-top:20px;
	color: #4e4e4e;
}

.summBubble {
	width: 300px;
	background: #CECECE;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

.sidebar {
	background: #23d0a5;
	width: 250px;
	vertical-align: top;
	padding-top: 100px;
	min-height:100%;
	margin-right:20px;
}

.logo {
	margin-left: 30px;
}

table {
	padding: 0;
	margin: 0;
}

.project a, .project a:link, .project a:visited, .project a:hover {
	color: #000;
	font-weight: 300;
	text-decoration:none;
}

.projectName {
	font-size: 64px;
	font-weight:100;
}

.subButton {
	background: #23d0a5;
	border: none;
	padding: 8px;
	border-radius: 5px;
	font-weight: 400;
	width: 100px;
	font-family: 'Raleway', sans-serif;
}

.subButton:hover {
	background: #AFAFAF;
}

.buttonHolder {
	text-align: right;
}

.projTable {
	width: 100%;
	height: 100%;
}

.navlink{
	margin-left: 40px;
	font-size: 16px;
	line-height: 18px;
}

.active {
	color:#575757;
}

.submitRow {
	padding: 5px;
}
.mainArea {
	padding: 20px;
}
#content {
	height:100%;
}
.about {
	padding: 50px;
	display: inline-block;
}

.layer {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 45%;
}

.project {
	text-align: center;
	height: 375px;
	margin: 20px 0 20px 0;
}

.projectTitle {
	padding: 10px 10px 10px 0;
	font-weight: bold;
}

.projLink, .projLink:link, .projLink:active, .projLink:visited {
	color: #1aa181;
	font-weight: 500;
}

.projLink:hover {
	color: #23d0a5
}

.projectInfo {
	padding: 10px;
}

.projectImages {
	width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.addNew {
	background: #c9c8c3;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 150px;
	font-weight: 100;
	padding-top: 22%;
	transition: background 0.5s;
}

.summaryTitle {
	font-size: 40px;
	font-weight: 200;
}

.addNew:hover {
	background: #96dfc4;
}

.projRow {
	height: 50%;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.textCenter {
	background: #fff;
}.textCenterB {
	background: #c9c8c3;
	padding-top:45%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.aboutDesc {
	color:#fff;
	width:200px;
	height:200px;
	text-align:center;
}
.projName {
	font-size: 28px;
	font-weight: 300;
}

.uniName {
	font-size: 18px;
	font-weight: 100;
}

.sumContent {
	padding: 20px;
}
.aboutPic {
	width: 200px;
	height: 200px;
	text-align:center;
}
.personName {
	margin-top:72%;
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	line-height:18px;
}
.personTitle {
	color:#fff;
	font-weight: 200;
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.heading {
	font-size:36px;
	color: #646464;
	font-weight: 200;
}

.subHeading {
	font-size: 18px;
	color: #646464;
	font-weight: 100;
}

.textBlock {
	background: #CDCDCD;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	max-width: 80%;
	font-weight: 300;
}

.submit {
	vertical-align: top;
	padding: 100px;
}

ul .flashes {
	list-style: none;
}